.cuadro-padre{
    background-color: rgb(238, 155, 125);
    display: flex;
  flex-direction: row;

  /* Recuenden word 
  Nos permite alinear en horizonal*/
  justify-content:space-between;

  /*Nos permite alinear en vertical*/
  align-items: center;


  height: 600px;
}

.cuadro{
    background-color: aqua;
    height: 100px;
    width: 100px;
    

    
    margin: 20px 40px;
    padding: 50px 40px 30px 20px;
    border: 10px solid yellow;
     border-radius: 10% 20% 30% 40%;
     

}
.el-1{
    background-color: blue;
    align-self: flex-start;
    flex-grow: 3;

}
.el-2{
    background-color: red;
  flex-grow: 1;
    

    
}
.el-3{
    background-color: pink;
  align-self: flex-end;
flex-grow: 1;
}
.el-4{
    background-color: green;
    flex-grow: 1;

}
.el-5{
    background-color: darkorchid;
}

/*Introducción a Bootstrap*/

.contenedor{
    height: 200px;
    background-color: #80cccc;
max-width: 1500px;
margin: 0 auto;

}

.fila{
    display: flex;
}

.columna{
    flex-grow: 1;
}
.color-rojo{
    background-color: red;
}